<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <img height="50px" src="../../assets/images/logo.png" />
    </ion-title>

    <ion-fab-buttons slot="end">
      <ion-fab-button color="light">
        <ion-icon size="small" color="warning" name="notifications"></ion-icon>
      </ion-fab-button>
    </ion-fab-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img
        src="https://img.freepik.com/free-photo/portrait-white-man-isolated_53876-40306.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1703203200&semt=ais"
        alt="foto de perfil"
      />
    </ion-avatar>

    <ion-label>
      <h2>Leonardo Santos</h2>
      <p>Nivel Roxo</p>
    </ion-label>
  </ion-item>

  <ion-buttons>
    <ion-button fill="clear">
      <ion-icon size="small" color="warning" name="accessibility"></ion-icon>
      <h2 class="ion-text-uppercase">MEU CORPO</h2>
    </ion-button>

    <ion-button fill="clear">
      <ion-icon size="small" color="warning" slot="start" name="trophy"></ion-icon>
      <h2 class="ion-text-uppercase">OBJETIVOS E CONQUISTAS</h2>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slides" *ngFor="let slide of (slides$ | async); let indice = index">
    <div class="slides__header">
      <h2 class="ion-text-uppercase">{{slide.title}}</h2>
      <ng-template #other>
        <ion-badge color="warning" slot="end">novo</ion-badge>
      </ng-template>

      <ion-icon
        *ngIf="slide.order === 1 && indice === 0; else other"
        color="warning"
        size="large"
        name="add-circle-outline"
      ></ion-icon>
    </div>

    <swiper-container [slidesPerView]="'1.3'">
      <swiper-slide *ngIf="slide.order === 1 && indice === 0">
        <ion-card
          [ngStyle]="{'background-image': 'url(https://img.freepik.com/fotos-premium/contemporaneo-impecavel-centro-de-fitness-interior-generative-ai_391052-10889.jpg)'}"
        >
          <ion-card-content>
            <div class="shadow">
              <ion-label>
                <ion-icon
                  (click)="addNovoPrograma(slide)"
                  color="dark"
                  size="large"
                  name="add-circle-outline"
                ></ion-icon>
                <h2 style="color: #fff" class="ion-text-uppercase">NOVO<br />TREINO</h2>
              </ion-label>
            </div>
          </ion-card-content>
        </ion-card>
      </swiper-slide>

      <swiper-slide *ngFor="let content of slide.contents">
        <ion-card [ngStyle]="{'background-image': 'url(' + content.background + ')'}">
          <ion-card-content>
            <ion-label>
              <p>{{content.subtitle}}</p>
              <h2 class="ion-text-uppercase">{{content.title}}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
